logfile.txt
parser.txt
Untitled.txt
vlCheckerNEW
vl.txt
westerparse.txt
interface_to_westerparse
__pycache__/

# Packages
*.egg
*.egg-info
build
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__
